<page-section class="review" params="baseModel : $baseModel, rootModel : $data, heading : ''">
    <div class="row-group">
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.loanRepayment.loanAccountNumber , value : $data.data.loanAccountId.displayValue"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.loanRepayment.installmentArrears , value :$baseModel.formatCurrency($data.data.installmentArrears.amount(),modelData.installmentArrears.currency())"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.loanRepayment.principalBalance, value :$baseModel.formatCurrency($data.data.principalBalance.amount(),modelData.principalBalance.currency())"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.loanRepayment.transferFrom , value: $data.data.settlementAccountId.displayValue"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.loanRepayment.amount, value :$baseModel.formatCurrency($data.data.amount.amount(), $data.data.amount.currency())"></row>
    </div>
</page-section>