<div class="oj-flex">
  <div class="oj-flex-item oj-lg-3">
    <page-section params="baseModel : $baseModel, rootModel : $component">
    <div class="row-group">
      <!-- ko if:$component.confirmScreenExtensions.confirmScreenDetails-->
      <!-- ko foreach: $component.confirmScreenExtensions.confirmScreenDetails[0] -->
      <!-- ko if:value -->
      <row params="baseModel : $baseModel, rootModel : $parent, label : label, value : value"></row>
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    </div>
    </page-section>
  </div>
  <div class="oj-flex-item oj-lg-3">
    <page-section params="baseModel : $baseModel, rootModel : $component">
    <div class="row-group">
      <!-- ko if:$component.confirmScreenExtensions.confirmScreenDetails-->
      <!-- ko foreach: $component.confirmScreenExtensions.confirmScreenDetails[1] -->
      <!-- ko if:value -->
      <row params="baseModel : $baseModel, rootModel : $parent, label : label, value : value"></row>
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    </div>
    </page-section>
  </div>
</div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item" data-bind="text:$component.confirmScreenResources.confirm.actions.nextAction">
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad ">
        <ul class="confirm-screen__list">
            <li>
                <a href="#" data-bind="click:$dashboard.openDashBoard.bind(void 0,void 0)">
          <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAccountDetails}),'title':$component.confirmScreenResources.confirm.actions.goToDashboard},loadImage:'dashboard/quick-access/dashboard.svg'">
          <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToDashboard"></div>
        </a>
            </li>
            <!-- ko if: !$component.params.isRedeem -->
            <!-- ko if: $component.constants.userSegment === "RETAIL" -->
            <li>
                <a href="#" data-bind="click:$component.openTransaction.bind($data,'td-details', 'term-deposits', 'deposit?module=CON&module=ISL')">
          <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAccountDetails}),'title':$component.confirmScreenResources.confirm.actions.goToAccountDetails},loadImage:'dashboard/quick-access/account-details.svg'">
          <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToAccountDetails"></div>
        </a>
            </li>
            <!-- /ko -->
            <!-- ko if: $component.constants.userSegment === "CORP" -->
            <li>
              <a href="#" data-bind="click:$dashboard.switchModule.bind($data,'term-deposits')">
                <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAccountDetails}),'title':$component.confirmScreenResources.confirm.actions.goToAccountDetails},loadImage:'dashboard/quick-access/account-details.svg'">
                <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToAccountDetails"></div>
              </a>
            </li>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: $component.params.nominee -->
            <li>
                <a href="#" data-bind="click:$component.openTransaction.bind($data,'casa-nominee-list','nominee',null)">
          <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.addAnotherNominee}),'title':$component.confirmScreenResources.confirm.actions.addAnotherNominee},loadImage:'nominee/add-another-nominee.svg'">
          <div data-bind="text:$component.confirmScreenResources.confirm.actions.addAnotherNominee"></div>
        </a>
            </li>
            <!-- /ko -->

              <!-- ko if: $component.showSweepinIcon -->
            <li>
                <a href="#" data-bind="click:$component.openTransaction.bind($data,'sweep-in-instruction', 'demand-deposits', 'demandDeposit')">
            <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.createSweepIn}),'title':$component.confirmScreenResources.confirm.actions.createSweepIn},loadImage:'index/icons/savings.svg'">
            <div data-bind="text:$component.confirmScreenResources.confirm.actions.createSweepIn"></div>
            </a>
            </li>
            <!-- /ko -->

        </ul>
    </div>
