<div class="oj-flex-item" id="userlogin-security-question" data-bind="template: {name:'headers/headers'}">
</div>

<div class="form-main-container  user-login-configuration__extra-space">
    <div class="oj-flex oj-flex-items-pad information-wrapper">
  <div class="oj-flex oj-flex-items-pad  oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-7">
      <page-section params="baseModel : $baseModel, rootModel : $data, heading :'' ">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-10">
        <div class="oj-flex oj-flex-items-pad information-wrapper-heading">
            <h3 data-bind="text: $component.nls.userSecurityQuestion.fieldname.securityHeading"></h3>
        </div>
        <span data-bind="text: $component.nls.userSecurityQuestion.fieldname.securityText"></span>
        <br><span data-bind="text: $component.nls.userSecurityQuestion.fieldname.securityTextLine3"></span>
<br>
<br>
        <oj-button class="action-button-primary " on-click="[[$component.openCreateMode]]"><span slot="startIcon" class="icons icon-ok"></span>
      <span data-bind="text:$component.nls.userSecurityQuestion.labels.setUpNow"></span>
</oj-button>
        <oj-button class="action-button-secondary " on-click="[[$component.loadNextComponent]]"><span slot="startIcon" class="icons icon-forward-arrow"></span>
      <span data-bind="text:$component.nls.userSecurityQuestion.labels.skip"></span>
</oj-button>

        </div>
      </page-section>
    </div>
    <!-- ko if:  $baseModel.large() -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-5">
      <help params="baseModel : $baseModel, rootModel : $component, transaction: 'security-notes'"></help>
    </div>
    <!-- /ko -->
    </div>
</div>
</div>
