.oj-accordion-collapsible {
  @at-root & > .oj-collapsible-header {
    border-width: 0 0 0.0556rem 0;
    font-size: var(--base-font-size-large);
    padding: 0.8rem;
    border-bottom:0.05rem solid var(--base-border-default);
    background-color:transparent;

    & > .oj-collapsible-header-icon {
      padding: 0;
      &.oj-collapsible-close-icon {
        &::before {
          font-family: "obdx" !important;
          content: "\e05f";
          color: var(--base-text-tertiary);
        }
      }

      &.oj-collapsible-open-icon {
        &::before {
          font-family: "obdx" !important;
          content: "\e063";
        }
      }
    }
    .success {
      color: var(--base-color-success);
    }
    .alert {
      color: var(--base-color-danger);
    }
    .oj-component-icon.oj-clickable-icon-nocontext.oj-collapsible-header-icon.oj-collapsible-open-icon,
    a {
      @include float(right);
    }
  }
}
