.oj-message-status-icon {
  vertical-align: middle;
  padding-bottom: 0.2rem;
}

.oj-message-summary {
  display: none;
}

.oj-message-detail {
  font-size: 0.8rem;
  width: 100%;
}

.oj-message {
  .oj-message-content {
    white-space: normal;
    position: relative;
    bottom: 0.2rem;
  }
}
