.oj-listview {
  overflow: hidden;
  border-width: 0 0 0.05rem 0;
  border-color: var(--base-border-default);
}

.oj-listview-item {
  background: transparent !important;
  background-image: none !important;
  border-top: 0 !important;
  border-bottom: 0.05rem solid var(--base-border-default);

  &.oj-selected.oj-hover.oj-focus {
    outline: none;
  }
}

.oj-listview:first-child {
  border-width: 0 !important;
}

.oj-listview-empty-text {
  padding: 0.6rem;
}
