.oj-inputnumber .oj-buttonset {
  border: 0;

  .oj-button {
    border-color: transparent !important;
    background: transparent !important;
    padding: 0 !important;

    &.oj-default {
      border-color: transparent !important;
      background: transparent !important;
      padding: 0 !important;
    }

    &.oj-hover {
      border-color: transparent !important;
    }
  }
}
.oj-menu-dropdown{
  font-size: var(--base-font-size-default);
}
.oj-radioset{
  padding-top: .4rem;
}
