<div class="form-main-container">
    <!-- ko if:userInformation -->
    <page-section params="baseModel : $baseModel, rootModel : $data, heading :'' ">
        <div class="oj-flex oj-flex-items-pad  ">
            <oj-label class="center highlight-text requestFund"><span data-bind="text:$component.nls.forgotPassword.messages.enterDetails"></span></oj-label>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4">
                <oj-label for="uid"><span data-bind="text:$component.nls.forgotPassword.details.nameLabel"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
                <oj-input-text id="uid" type="text" required :maxlength="[[50]]" :invalidcomponenttracker="[[$component.userIdNullCheck]]" value="{{userId}}"></oj-input-text>
            </div>
        </div>

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4">
                <oj-label for="dob"><span data-bind="text:$component.nls.forgotPassword.details.dobLabel"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
                <oj-input-date id="dob" required value="{{dateOfBirth}}" converter="[[$baseModel.dateConverter]]"></oj-input-date>

            </div>
        </div>

    </page-section>
    <div class="oj-flex oj-flex-items-pad button-container">
        <oj-button class="action-button-secondary" on-click="[[cancelClicked]]">
      <span data-bind="text:$component.nls.forgotPassword.buttons.cancelButton"></span>
</oj-button><oj-button class="action-button-primary" type="submit" on-click="[[verify]]">
      <span data-bind="text:$component.nls.forgotPassword.buttons.continueButton"></span>
</oj-button></div>
    <!-- /ko -->
</div>
