<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item">
      <div class="oj-flex oj-flex-items-pad page-header-container" data-bind="css: !$dashboard.isDashboard() ? 'txn-page' : ''">
        <!-- ko if: $baseModel.large() -->
        <div class="oj-flex-item oj-sm-12">
          <!-- ko if : $dashboard.headerName() -->
          <h2 class="comp-title" data-bind="text:$dashboard.headerName"></h2>
          <!-- /ko -->
          <!-- ko if : $dashboard.headerCaption() -->
          <h3 class="comp-title sub-heading" data-bind="text:$dashboard.headerCaption"></h3>
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
