.page-banner {
  background: url($brand-base-path + '/index/icons/banner.jpg') no-repeat;
  height: 20rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(small) {
    height: 9rem;
    font-size: 200%;
  }
  @include mq(medium) {
    height: 20rem;
  }
  .banner-text {
    .sub-text {
      color: var(--color-white);
      font-size: 1.9rem;
      @include mq(small) {
        font-size: 60%;
      }
    }
    span {
      color: var(--color-white);
    }
  }

  .action-button-primary {
    background: var(--button-primary-background) !important;
    box-shadow: none !important;
    border: 0 !important;
  }
}
