
.footer {
    position: relative;
    bottom: 0;
    z-index: 0;
    @include left(0);
    background: var(--footer-background-color);
    width: 100%;
    height: var(--base-dimension-footer-height);
    line-height:var(--form-line-height);
    text-align: center;
    display: block;
    color: var(--footer-foreground-color);
    font-size: var(--base-font-size-small);
    overflow: hidden;
}
