.help-panel{
  @at-root .ADMIN &{
    background-color: var(--base-background-tertiary);
  }
  .help-content{
    padding: 1rem;
    @at-root & .help-item{
      margin: 1.4rem 0 0;
      img{
        height: 8rem;
        width: 8rem;
      }
    }
  }
}
