.main-menu {
  .menu-container {
    .welcome-box {
      background: var(--base-color-secondary);
      color: var(--base-color-secondary-text);
      line-height: 1.3rem;
      &-text{
        margin-bottom: 1.2rem;
      }
      &-item{
          padding: .3rem 0.9rem;
          .info{
            font-size: var(--base-font-size-medium);
          }
      }
    }
    .navlist {
      .seperator {
        height: 0.1rem;
      }
      .oj-navigationlist-item {
        color: var(--base-text-secondary);
        font-size: var(--base-font-size-default);
        &.oj-hover:not(.oj-selected) {
          color: var(--link-base);
        }
        .oj-navigationlist-item-icon{
          font-size: var(--base-font-size-larger);
        }
        &-label {
          color: var(--base-text-secondary);
          .icons {
            position: relative;
            color: var(--link-base);
          }
        }
      }
      .oj-navigationlist-collapsible ul.oj-navigationlist-has-icons>.oj-navigationlist-item-element>ul {
        @include single-padding(left,1.5rem);
      }
    }
  }
}
