.review-banner {
	border-bottom: 0.05rem solid var(--base-border-default);
	@include single-border(left,0.4rem solid var(--base-color-warning));
	background-color: var(--base-color-warning-light);
	margin: 0 0 0.5rem;
	padding: 0.6rem 0;

	&__image {
		img {
			height: 1.3rem;
		}
	}

	&-content {
		&__header {
			text-transform: uppercase;
			font-size: var(--base-font-size-medium);
			font-weight: var(--base-font-weight-bold);
			display: inline-block;
			position: relative;
			bottom: 0.3rem;
			padding: 0.3rem;
		}

		&__message {
			padding: 0 1.6rem;
		}
	}
}
