<div class="oj-flex oj-flex-items-pad">
        <div class="oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item">
            <div class="oj-flex oj-flex-items-pad row">
                <div class="oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item">
                    <span class="header" data-bind="text:name"></span>
                </div>

                <div class="oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item enDescription">
                    <span class="header" data-bind="text:description"></span>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad row">
                <div class="oj-lg-6 oj-flex-item">
                    <span class="header" data-bind="text:displayName"></span>
                </div>
            </div>


            <div class="oj-flex oj-flex-items-pad row">
                <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-12 mapping-link ">
                    <a href="javascript:void(0)" data-bind="attr: {id:'details_'+id}">mapping details</a>
                    <span class="icon-divider">|</span>
                    <a href="javascript:void(0)" data-bind="attr: {id:'en_roles_'+id}">Enterprise Roles</a>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad row">
                <div class="oj-flex-item oj-lg-6 oj-md-6 oj-sm-12 pull-right ">

                    <div class="oj-lg-3 oj-md-3 oj-sm-6 oj-flex-item pull-right ">
                <button class="panel" data-bind="text: common.delete, attr: {id:'delete_'+id}"></button>
                    </div>
                    <div class="oj-lg-3 oj-md-3 oj-sm-6 oj-flex-item pull-right ">
                <button class="flip" data-bind="text: common.edit, attr: {id:'edit_'+id}"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
<hr>
