.transaction-mapping-taskTable {
  width: 2px;
  min-width: 100%;
}

.transaction-mapping-rowExpander {
  min-width: 0;
}

.oj-checkbox-label.oj-enabled {
  padding-top: 1.5rem;
}

.oj-checkbox-label.oj-disabled {
  padding-top: 1.5rem;
}

.oj-tabbar-focused-element.oj-tabbar-item-element.oj-tabbar-item {
  font-size: small;
}

.oj-table-body-row.oj-table-hgrid-lines.oj-table-body-current-row {
  background-color: #e7e7e7;
}

.oj-table-column-header-cell {
  line-height: calc(2em - 2 * .5em) !important;
}
