 .my-bills {
   padding-bottom:0;
   &-heading{
     &__title{
       margin-bottom:0;
     }
   }
     .biller-details{
       height: 16rem;
       overflow-y: auto;
       .status{
         font-size: var(--base-font-size-medium);
         padding:0.3rem 0;
       }
         .success{
            color:var(--base-color-success);
         }
         .danger{
             color: var(--base-color-danger);
         }
         .payBtn{
            @include single-margin(left,calc(50% - 27px));
         }
         .billersList ul{
             overflow-y: auto;
             li.oj-listview-item{
                border-bottom-width: 0;
                padding-bottom: 0;
             }
         }
         .oj-label{
             display: inline;
         }
     }
     &__view-all{
       @include view-all;
       @include single-border(right, 0.05rem solid var(--base-border-default));
       &:last-child{
         @include single-border(right, 0);
       }
       @include mq(large){
         position:relative;
         top:0.3rem;
       }
     }
     &__noData{
       height:12rem;
       display:flex;
       justify-content: center;
       align-items: center;
     }
     &-noData{
       &__image{
         height:100%;
       }
     }
 }
