<!-- ko if:  $baseModel.small() -->
<div class="dialogBox">
<div id="disclaimer-container" class="disclaimer-container">
    <div class="oj-flex">
        <span class="oj-flex-item disclaimer-text" data-bind="text: nls.passwordValidation.messages.policyDisclaimer"></span>
    </div>
</div>
</div>
  <!-- /ko -->
        <!-- ko if: !$component.showConfirmation() && $baseModel.large() -->
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'password-policy'"></help>
        </div>
        <!-- /ko -->
        <!-- ko if:  $baseModel.small() -->
        <oj-popup data-bind="attr:{id:'passwordPolicy'}">
        <span data-bind="template:'help/password-policy'"></span>
        </oj-popup>
        <!-- /ko -->
