<div class="company-links">
  <div class="oj-flex oj-flex-items-pad indexContainer">
    <div class="oj-flex-item oj-sm-12">
      <h3 class="footer-headings">Get in touch with us</h3>
    </div>
    <!-- ko foreach:companyLinks -->
    <div class="oj-flex-item oj-lg-2 oj-md-2 oj-sm-6">
      <div class="im-heading" data-bind="text:header"></div>
      <!-- ko foreach:links -->
      <div class="link-box">
        <!-- ko if:icon -->
        <img class="icons" data-bind="loadImage:icon" alt="I">
        <!-- /ko -->
        <a class="anc-links" href="javascript:void(0)" data-bind="text:txt"></a>
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="oj-flex-item oj-lg-4 oj-md-4 oj-sm-12">
      <div class="im-location alternate-primary">
        <oj-label for="textInput"><span data-bind="text:$component.nls.companyLinks.labels.locateABranch"></span></oj-label>
        <oj-input-text type="text" id="textInput"></oj-input-text>
        <oj-button class="action-button-primary">
          <span data-bind="text:$component.nls.companyLinks.labels.submit"></span>
        </oj-button>

      </div>
      <div class="social-icons right">
        <span class="im-heading" data-bind="text:$component.nls.companyLinks.labels.social"></span>
        <span class="icons icon-facebook"></span>
        <span class="icons icon-twitter"></span>
      </div>

    </div>
  </div>
</div>
