.adminUsergroupView{
  .oj-inputtext.oj-disabled .oj-inputtext-input{
    background-color : var(--base-background-secondary);
  }
  .oj-listview-item{
    padding:0;
  }

  &__modalContent{
      height:20rem;
      overflow-y:auto;
  }
}
