<div id="chart-container" data-id="loanScheduleChart">
    <br>
    <div class="loan-schedule-chart-height">
      <oj-chart id="areaChart" class="loan-schedule-chart" type="area" stack="off" series="[[lineSeriesValue]]" groups="[[lineGroupsValue]]" timeaxistype="[[skipGaps]]" zoomandscroll="[[zoomAndScrollValue]]" hideandshowbehavior="withRescale" overview="[[{rendered: ko.toJS(overviewValue)}]]" xaxis="[[{viewportStartGroup: viewportStartGroup, viewportEndGroup:viewportEndGroup, tickLabel:{style: ko.toJS('font-size: 11px')}}]]" ,="" legend="[[{rendered: 'on',position: ko.toJS('bottom'), textStyle: ko.toJS('font-size:14px')}]]" datacursor="on" yaxis="[[yAxisData]]" styledefaults="[[{lineType: 'curved',dataLabelStyle: ko.toJS('color:#a6a6a6')}]]" valueformats="[{type: 'series', tooltipLabel: $component.locale.schedule.loanSchName}, {type: 'group', tooltipLabel: $component.locale.schedule.date}]">
                  </oj-chart>
    </div>
</div>
