.bill-payments {

	background: var(--base-background-primary);

	.search-box {
		padding-bottom: 1rem;
	}

	.text-warning {
		color: var(--base-color-warning) !important;
	}

	.text-danger {
		color: var(--base-color-danger) !important;
	}

	.biller-type-heading {
		border-bottom: 0.05rem solid var(--form-input-border-color);
		font-weight: bold;
		line-height: var(--form-line-height);
	}

	.biller-list {

		.bill-menu {
			display: none;
		}

		.oj-listview-no-data-message.oj-listview-empty-text{
			text-align: center;
	    padding: 1rem 0.6rem;
		}

		.oj-listview-item {

			@include single-padding(left, 0 !important);
			@include single-padding(right, 0 !important);

			@include mq(small){
				padding: 0 !important;
			}

			.data {
				white-space: normal;
				word-wrap: break-word;
			}

			.oj-offcanvas-inner-wrapper > .wrapper-padding {
				padding: .85714rem 0;
				color: var(--base-text-primary) !important;
			}
		}

		.oj-flex-bar-center-absolute {
			bottom: initial;
			top: 0.8rem;
		}

		.oj-offcanvas-end {
			@include mq(small){
        width:10rem !important;
				max-width:10rem !important;
      }
			a {
				color: var(--color-white) !important;
			}
			a.manage-button {
				background: var(--button-secondary-background);
			}
			a.delete-button {
				background: var(--button-tertiary-background);
			}
		}

		.biller-details .icons.icon-arrow-right {
			@include mq(small){
				padding: 0.3rem 0;
			}
		}

		.vertical-center .oj-flex {
			 align-items: center;
		}

	}

}
.biller-logo{
	padding-bottom: 1.3rem;
	padding-top: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.bill-data{
	@include text-align(right);
}
