@mixin view-all {
  height: calc(var(--form-line-height) + 0.5rem);
  line-height: calc(var(--form-line-height) + 0.5rem);
  border-top: 0.05rem solid var(--base-border-default);
  text-align: center;
}
@mixin view-all-alternate {
   @include view-all;
  border-top: 0.05rem solid rgba(255,255,255 , 0.4);
}
