$consolidated-accounts-text-color:var(--base-text-primary);
.consolidated-accounts-list{
  &__flex-container{

    display: -moz-box;
    display: -ms-flexbox;

    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;

    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  &-flex-container{
    &__listItem{
      min-width: 12.5rem;
      padding-bottom:0.9rem;
    }
    &-listItem{
      a:link{
        color : $consolidated-accounts-text-color;
      }
      a:hover{
        color: var(--link-hover);
      }
      &__link{ }
      &-link{

        &__icons{
          display: inline-block;
          position: relative;
          top: 0.4rem;
          font-size: 1.6rem;
        }
        &__icon-title{
          display: inline-block;
          padding: 0 0.6rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
