@import "utils";
$overview-payments-link-text-color:var(--base-color-secondary-text);
$overview-payments-label-size:1.1rem;
$overview-payments-link-size:0.9rem;
$overview-payments-icon-size:0.9rem;
.overview-payments {
    padding-bottom: 2.5rem;

    &__paymentHeader {
        background-color: var(--base-color-secondary);
        color: $overview-payments-link-text-color;
        padding: 0.9rem;
    }

    &-header {
        &__label {
            padding: 1.3rem;
            font-size: $overview-payments-label-size;
        }
    }
    &__moreInfo {
        background-color: var(--base-color-secondary);
        color: $overview-payments-link-text-color;
        padding: 0.9rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-moreInfo {
        &__link {
            color: $overview-payments-link-text-color;
            @include single-padding(right,0.6rem);
            font-size: $overview-payments-link-size;
            display: inline-block;
            @include float(left);
        }
        &__icons {
            font-size: $overview-payments-icon-size;
            color: $overview-payments-link-text-color;
            display: inline-block;
        }
    }
}
