$overview-analysis-header-text-color:var(--base-color-secondary-text);
$overview-analysis-border-color:var(--base-border-default);
$overview-analysis-header-color:var(--base-color-secondary);
$overview-analysis-amount-size:1.6rem;
.consolidated-analysis {
    
    padding-bottom:2.5rem;
    @include mq(small){
      padding-bottom:1.9rem;
    }
    &__header {
        
    }
    &-header {
      &:first-child{
        @include single-border(right, 0.6rem solid $overview-analysis-border-color);
        @include mq(small){
          border:none;
        }
      }
      
      
      
        &__statement {
            background-color: $overview-analysis-header-color;
            color: $overview-analysis-header-text-color;
            padding: 0;

            @include mq(small) {
                margin-bottom: 0.6rem;
                border: 0;
            }
        }
        &-statement {
            font-weight: var(--base-font-weight-light);
            &__svg {
                display: block;
                height: 0.6rem;
                width: 100%;
            }
            &__label {
                font-size: $overview-analysis-amount-size;
                padding: 1.3rem 0.6rem;
                @include float(left);
                display: inline-block;
                @include mq(small) {
                    padding: 1.3rem 0.6rem;
                }
            }
            &__value {
                font-size: $overview-analysis-amount-size;
                padding: 1.3rem 0.6rem;
                @include text-align(right);
                
                @include mq(small) {
                    padding: 1.3rem 0.6rem;
                }
            }
        }
    }
}
