@import "utils";

.credit-line {
  &.oj-panel {
    .chart {

      .creditLineChart {
        width: 100%;
        margin-bottom: 2.3rem;
        height:11rem;
      }
    }

    .view-all {
      @include view-all;
    }

    .noData {
      text-align: center;

      &__image {
        height: 11rem;
      }
    }
  }
}
