$tc-icon-img-size: 4.4rem;
$tc-icon-text-size: 1rem;

.tc {
  padding: 0.6rem;
  max-width: 80rem !important;
  margin: 0 auto;

  h3 {
    font-size: 1.9rem;
    color: var(--base-text-secondary);
    font-weight: normal;
  }

  &-flex-container {
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding-bottom: 1.9rem;

    &__listItems {
      width: 6rem;
      text-align: center;
    }

    &-listItems {
      .icons {
        transition: transform ease-out 0.1s;
        font-size: 3rem;
        color: var(--base-text-primary);
        padding: 1.3rem 1.3rem 0.6rem;
        border: 0.05rem solid #595959;
        border-radius: 50%;

        &:hover {
          animation: ripple-out 2s infinite ease;
          animation-iteration-count: 1;
        }
        @include mq(small) {
          padding: 0.6rem 0.6rem 0;
        }
        @include mq(medium) {
          padding: 0.6rem 0.6rem 0;
        }
      }

      .icon-title {
        font-size: $tc-icon-text-size;
        text-transform: uppercase;
        margin: 0.6rem 0;
        @include mq(small) {
          text-transform: none;
        }
      }

      &:hover {
        .icon-title,
        .icons {
          color: var(--link-base-hover);
        }
      }
    }
  }
}
