<div class="tc oj-flex oj-flex-items-pad">
  <!-- ko if : $dashboard.isDashboard() -->
  <div class="oj-flex-item">
    <h3 data-bind="text:$component.nls.toolCalc.labels.toolHeading"></h3>
  </div>
  <!-- /ko -->
  <ul class="oj-flex oj-flex-items-pad tc-flex-container oj-sm-flex-wrap-nowrap">
    <!-- ko foreach:toolsData -->
    <li class="tc-flex-container__listItems tc-flex-container-listItems">
      <a href="#" data-bind="attr:{'aria-label':blueTxt, title:id },click: $component.openCal">
        <div class="" data-bind="css: icons">
        </div>
        <div class="icon-title" data-bind="text:blueTxt"></div>
      </a>
    </li>
    <!-- /ko -->
  </ul>
</div>
