<div class="oj-flex oj-flex-items-pad no-inner-flex-margin">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2 oj-md-offset-1 oj-lg-offset-2">
    <oj-label><span data-bind="text:resource.idType"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 padding-top-5 label">
    <span data-bind="text: data.temp_selectedIdentification()"></span>
  </div>
</div>
<div class="oj-flex oj-flex-items-pad no-inner-flex-margin">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2 oj-md-offset-1 oj-lg-offset-2">
    <oj-label><span data-bind="text:resource.idNumber"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 padding-top-5 label">
    <span data-bind="text: data.id"></span>
  </div>
</div>
<div class="oj-flex oj-flex-items-pad no-inner-flex-margin">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2 oj-md-offset-1 oj-lg-offset-2">
    <oj-label><span data-bind="text:resource.expiryDate"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 padding-top-5 label">
    <span data-bind="text: $baseModel.formatDate(data.expiryDate)"></span>
  </div>
</div>

<!-- ko if: data.temp_selectedCountry -->
<div class="oj-flex oj-flex-items-pad no-inner-flex-margin">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2 oj-md-offset-1 oj-lg-offset-2">
    <oj-label><span data-bind="text:resource.countryOfIssue"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 padding-top-5 label">
    <span data-bind="text: data.temp_selectedCountry"></span>
  </div>
</div>
<!-- /ko -->
<!-- ko if: data.temp_selectedState -->
<div class="oj-flex oj-flex-items-pad no-inner-flex-margin">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2 oj-md-offset-1 oj-lg-offset-2">
    <oj-label><span data-bind="text:resource.placeOfIssue"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 padding-top-5 label">
    <span data-bind="text: data.temp_selectedState"></span>
  </div>
</div>
<!-- /ko -->
