.payee-list {
    .form-main-container {
        .nav-bar {
            
            .oj-navigationlist-listview-container ul li {
                &.oj-navigationlist-item {
                    margin: 0;
                    min-height: inherit;
                }
                @include mq(small) {
                    min-width: inherit;
                    &.oj-navigationlist-item {
                        &.oj-selected .oj-navigationlist-item-label {
                            font-size: 0.9rem !important;
                        }
                        &.oj-default .oj-navigationlist-item-label {
                            font-size: 0.9rem !important;
                        }
                    }
                }
            }
        }
        .search-bar {
            .oj-flex-item {
                padding: 0;
                @include mq(small) {
                    padding: 0 0.6rem;
                }
                @include mq(medium) {
                    padding: 0 0.6rem;
                }
            }
        }
        .payments-list{
            @include mq(small){
                &__listItem {
                padding:0;
                margin-bottom:0.5rem;
                }
            }
            @include mq(medium){
                &__listItem {
                padding:0;
                margin-bottom:0.5rem;
                }
            }
        }
    }
    .modalDialogWindow .button-container{
      justify-content: center;
    }
}
