.demand-deposit-service-request{
  padding:0;
  &__header{
    font-size: var(--base-font-size-larger);
    font-weight: var(--base-font-weight-regular);
    margin: 0.6rem 0;
  }
  &__content{
    padding:0.6rem 0;
  }
  &-content{
    height:10rem;
    overflow-y: auto;
    &__list{
      padding-bottom:0.6rem;
    }
  }
  &__noData{
    height:14rem;
  }
  &-noData{
    &__text{
      display:flex;
      justify-content: center;
      align-items: center;
      img{
        height:10rem;
      }
    }
  }
  &__newRequest{
    @include view-all;
		@include single-border(right, 0.05rem solid var(--base-border-default));
  }
  &__trackRequest{
    @include view-all;
		@include right(0);
  }
}
