

.alerts-accordionPage {
width:95%;
display:inline-block;

.oj-accordion-collapsible {
  &.acc-header {
    .accordionHeader {
      padding: 0.6875rem;
    }
    display: inline-block;
    //font-size: var(--base-font-size-default) !important;

    color: var(--base-text-primary);
    border-bottom: 0.05rem solid var(--base-border-default);
    padding: 0;
  }
  margin: 0.5rem;

}

.oj-accordion-collapsible>.oj-collapsible-wrapper>.oj-collapsible-content{
    border-top-width: 0;
}

.oj-collapsible-close-icon,.oj-collapsible-close-icon:before {

    //font-size: $font-size-small;
    color: var(--base-text-primary);
    margin-top: 0.2rem!important;
    //@extend .icon-arrow-down:before;
}
.oj-collapsible-open-icon,.oj-collapsible-open-icon:before {

    //font-size: $font-size-small;
    color: var(--base-text-primary);
    margin-top: 0.2rem!important;
     //  @extend .icon-arrow-up:before;
}
.acc-recipient{
  padding: 0.5rem 0rem 0rem 0.5rem;
  font-size: 1rem;
}

}
.addButton{
  padding: 0.5rem 0rem 0rem 1rem!important;
}

.deleteTemplate{
  font-size: 1.2rem;
  padding-top: 1.5rem;
}
