@import "utils";
$networth-panel-bg: #594577;
.networth {
  background-color: $networth-panel-bg;
  &__heading {
    margin: 0.6rem 0 0;
    display: inline-block;
    font-weight: var(--base-font-weight-light);
  }
  &__date {
    font-weight: var(--base-font-weight-light);
    font-size: var(--base-font-size-medium);
  }
  &__switchButtons {
    .oj-button {
      border-width:0;
      border-top-left-radius: 1rem !important;
      border-top-right-radius: 1rem !important;
      border-bottom-left-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
      margin: 0 0.2rem;
      height: 1.8rem;
      font-size: var(--base-font-size-default);
    }
  }
  &__pie {
    width: 100%;
    @include mq(large){
      height: 13rem;
    }
    @include mq(small){
      height: 13rem;
    }
  }
  &__legend{
    margin:auto;
  }
  &-legend {
    &__info {
      padding-bottom: 0.5rem;
    }
    &-info{
      &__content{
        &:first-child{
          padding-bottom:0.3rem;
        }
      }
    }
    &__color {
      width: 0.6rem;
      display: inline-block;
      height: 0.6rem;
    }
    &__text {
      display: inline-block;
      font-size: var(--base-font-size-medium);
      font-weight: var(--base-font-weight-light);
      @include single-padding(left, 0.2rem);
    }
    &__amount {
      font-size: var(--base-font-size-default);
      @include single-padding(left, 1rem);
    }
  }
  &__text {
    margin: auto;
  }
  // &.oj-panel {
  //   border: 0;
  //   @include mq(small) {
  //     margin-bottom: 0;
  //   }
  //   @include mq(medium) {
  //     margin-top: 0.6rem;
  //     margin-bottom: 1.1rem;
  //   }
  // }
  &>* {
    color: var(--color-white);
  }
  &__text {
    text-align: center;
    margin: auto 0;
  }
  &__placeholder {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.6rem;
  }
  &-placeholder{
    &__image{
      @include mq(small) {
        height: 5.3rem;
      }
      height: 6.3rem;
    }
  }
}

.chartContent {
  font-size: 1rem;
  text-align: center;
  position: absolute;
}
