.review-theme {
    &__colorBox {
        width: 2.8rem;
    }
    &__selectedColor {
        width: 2.2rem;
        height: 2.2rem;
        border: 0.05rem solid var(--base-border-default);
        display: inline-block;
    }
}