.loans-overview{
  &__chart{
    height:13rem;
    @include mq(small){
      width:100%;
    }
  }
  .totalInvestment {
    fill: var(--link-base);
  }
  .totalMaturityAmount {
    fill: var(--base-color-warning);
  }
  .noData{
    text-align: center;
    margin:3rem;
  }
}
