.preview-theme{
  border: 0.05rem solid var(--base-border-default);
  &__menu{
    @include single-padding(left,1.9rem);
  }
  &__list{
    display:inline-block;padding:0.3rem 0.6rem;
  }
  &__list:first{
    @include single-padding(left,0);
  }
  &__body{
    padding:0 1.9rem;
  }
  &__form{
    padding:0 0.6rem;
    margin-bottom: 1.6rem;
    & > div{
      margin-top: 0.6rem;
    }
    &__element{
      margin-bottom: 0.3rem;
    }
    &__header{
      padding: 0.6rem;
    }
    #primary_btn,#secondary_btn,#tertiary_btn{
      background-image: none;
      margin:0;
    }
  }
  header,footer{
    margin: 1px;
  }
  footer{
    padding: 10px;
  }
  .anchroTxt:hover{
    color: var(--link-hover);
  }
  .oj-button button{
    padding-top: var(--button-padding-top-bottom);
    padding-bottom: var(--button-padding-top-bottom);
    @include single-padding(left,var(--button-padding-left-right));
    @include single-padding(right,var(--button-padding-left-right));
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    font-size: var(--button-font-size-text);
  }
}
