.review-amend-lc{
  .previous-value-span {
		color: var(--base-color-warning);
		display: block;
	}
  .trade-heading-banner {
      background: var(--banner-background);
      color: var(--banner-text-secondary);
      padding: var(--banner-padding);
      align-items: center;
      .label, label{
        color: var(--banner-text-primary);
        font-size: var(--base-font-size-medium);
      }
  }

  .above-content {
    padding: 0.1rem;
  }
  @include mq(small) {
    padding-top: 0;
  }
}
