.username-container {
    background: var(--base-color-primary);
    padding: 0 0.6rem 1.3rem;
    margin: 0 0.6rem 0.6rem 0;
    color: var(--color-white);
    @include mq(large) {
        height: 2.5rem;
        line-height: 2.5rem;
    }
    @include mq(medium) {
        height: 2rem;
        line-height: 2rem;
    }
    @include mq(small) {
        height: 3.3rem;
        line-height: 1.6rem;
    }
}

.login-icon {
    @include mq(large) {
        width: 4rem;
    }
    @include mq(medium) {
        width: 3rem;
    }
    @include mq(small) {
        width: 2rem;
    }
}

.username-link-container {
    font-size: var(--base-font-size-h4);
    @include mq(large) {
        padding: 1.5rem 0 1rem 0 !important;
    }
    @include mq(medium) {
        padding: 1rem 0 1rem 0 !important;
    }
    @include mq(small) {
        padding: 0.5rem 1rem 0.5rem 1rem !important;
    }
}