
<!-- ko if:dataLoaded() -->
<div data-bind="with:$component.paymentDetails()">
  <div class="row-group">
      <row params="baseModel : $baseModel, rootModel : $component, label : isDraft?$component.resource.reviewUpcomingPayments.favouring:$component.resource.reviewUpcomingPayments.beneficiaryName, value :payeeName,dataClass :''"></row>


      <row params="baseModel : $baseModel, rootModel : $component, label : isDraft?$component.resource.reviewUpcomingPayments.draftType:$component.resource.reviewUpcomingPayments.accountType , value :accountType,dataClass :''"></row>

      <!-- ko if:accountNumber -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.accountNumber , value :accountNumber,dataClass :''"></row>
      <!-- /ko -->

      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.fromAccount , value :fromAccount,dataClass :''"></row>
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.amount , value :amount,dataClass :''"></row>
      <!-- ko if:type === 'REC' -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.transFreq , value :frequency,dataClass :''"></row>
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.startDate , value :startDate,dataClass :''"></row>
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.endDate , value :endDate,dataClass :''"></row>
      <!-- /ko -->
      <!-- ko if:type === 'NONREC' -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.transferon , value :endDate,dataClass :''"></row>
      <!-- /ko -->
      <!-- ko if:dealId -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.dealId , value :dealId,dataClass :''"></row>
      <!-- /ko -->

      <!-- ko if:$data.transactionType !== 'SELFFT_SI' && $data.transactionType !== 'SELFFT_PAYLATER' && $data.transactionType !== 'INTERNATIONALDRAFT_PAYLATER' && $data.transactionType !== 'DOMESTICDRAFT_PAYLATER' -->
      <!-- ko if:purpose -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.purpose , value :purpose,dataClass :''"></row>
      <!-- /ko -->
      <!-- /ko -->
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.reviewUpcomingPayments.note , value :remarks,dataClass :''"></row>
  </div>
</div>
<!-- /ko -->
