<div class="row-group">
     <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.favouring , value :$component.demandDraftPayment().inFavourOf"></row>
     <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.deliverymode , value :$component.payments.demanddraft[$component.demandDraftPayee().demandDraftDeliveryDTO.deliveryMode]"></row>
     <div data-bind="template: { name: 'common/review/address'}"></div>
      <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.amount , value :$baseModel.formatCurrency($component.demandDraftPayment().amount.amount, $component.demandDraftPayment().amount.currency)"></row>
     <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.scheduledon , value :$baseModel.formatDate($component.demandDraftPayment().startDate)"></row>
     <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.transferfrom , value :$component.demandDraftPayment().debitAccountId.displayValue"></row>
     <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.demanddraft.note , value :$component.demandDraftPayment().remarks"></row>
</div>
