@import "utils";
.termDeposit {
  &__link {
    @include mq(large) {
      margin-top: 1rem;
    }
    @include mq(medium) {
      margin-top: 1rem;
    }
    @include mq(small) {
      margin-top: 1rem;
    }
  }
  &__bankLookUp {
    @include float(right);
    @include mq(large) {
      margin-top: 0.6rem;
    }
    @include mq(medium) {
      margin-top: 0.6rem;
    }
    @include mq(small) {
      margin-top: 0.6rem;
    }
  }
  &__holdingPattern {
        font-size: .9rem;
        font-weight:var(--base-font-weight-bold);
  }
}
