.transaction-mapping-taskTable{
width: 2px;
 min-width: 100%;
}
.transaction-mapping-rowExpander{
  min-width:0;
  .oj-checkbox-label.oj-disabled{
  padding-top: 1.5rem;
}
}

.oj-combobox-selected-choice-label {
  font-size: 0.8rem;
}

.oj-tabbar-horizontal .oj-tabbar-element {
  max-width: 10rem;
}

.oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected {
   border-color: var(--nav-selected-text) !important;
}

.oj-tabbar-horizontal .oj-tabbar-item.oj-selected {
     color: var(--nav-selected-text) !important;
}
