<div class="form-main-container">
  <div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-8">
      <div class="oj-flex-item" data-bind='component:{name: "transaction-mapping-search", params:{rootModel: $data}}'>
      </div>
    </div>
    <!-- ko if: $baseModel.large() -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-4">
      <help params="baseModel : $baseModel, rootModel : $component, transaction: 'role-transaction-mapping'"></help>
    </div>
    <!-- /ko -->
  </div>
</div>
