@import "utils";
.accounts-action-card{
  &__heading{
    height:3.1rem;
  }
  &__header{
    padding:0.6rem;
  }
  &-header{
    &__text{
      margin:0;
      font-weight: var(--base-font-weight-regular);
      font-size:var(--base-font-size-larger);
      color: var(--color-white);
    }
  }
  &__seperator{
    padding:0.6rem 0;
  }
  &.colorCasa,&.colorTd,&.colorLoan{
    height:10rem;
    @include mq(small){
      height:5rem;
    }
  }
  &__info{
    font-weight: var(--base-font-weight-regular);
    font-size:var(--base-font-size-default);
    color: var(--color-white);
    text-align: center;
    margin: 0 auto;
    width:90%;
    @include mq(small){
      height:inherit;
      display:flex;
      align-items:center;
    }
  }
  &__content{
  }
  &-content{
    @include mq(small){
      position:relative;
      top:0.3rem;
    }

  .oj-filmstrip{
    width:100%;
    .oj-filmstrip-container{
      justify-content: flex-end;
      .oj-filmstrip-item{
        width: 100%;
        @include single-padding(right,1rem);
        @include mq(small){
          padding:0;
        }
      }
    }
  }
    &-filmstrip{
      &__amount{
        font-size:var(--base-font-size-larger);
      }
   }
   &__pagingControl{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.6rem;
      @include mq(small){
        width:100%;
        position: relative;
        bottom: 0.3rem;
      }
      .oj-pagingcontrol{
        border:none !important;
        @include mq(small){
          padding:0;
        }
      }
      .oj-pagingcontrol-nav-arrow-section{
        display:block !important;
        .oj-pagingcontrol-nav-pages-links{
          display:block !important;
          .oj-pagingcontrol-nav-dot-bullet{
            border-color:var(--color-white);
          }
        }
      }
      }
  }
&__icon{
  font-size: var(--base-font-size-h1);
  padding:0.6rem;
}
&__img{
  height:2.5rem;
}
}
