<!-- ko if:$component.stageOne() -->

<!-- /ko -->

<!-- ko if:$component.stageTwo() -->

<div class="row-group" data-bind="with:p2ppaymentData">
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.payments.peertopeer.transferto ,
                 value :transferValue,dataClass :'highlight-text'"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.payments.peertopeer.amount ,
                 value :$baseModel.formatCurrency(transferDetails.amount.amount,transferDetails.amount.currency),dataClass :'highlight-text'"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.payments.peertopeer.transferfrom ,
                 value :transferDetails.debitAccountId.displayValue"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.payments.peertopeer.note ,
                 value :transferDetails.remarks"></row>
</div>

<!-- /ko -->
