$tab-bar-border-color: #e5e6e6;

#tabGroups-select {
  & .oj-tabs-nav-root .oj-tabs-tab.oj-selected {
    border-color:var(--nav-selected-text) !important;

    & .oj-tabs-title{
      color: var(--nav-selected-text) !important;
    }
  }
  }