.provier-data {
  .oj-table .oj-table-data-cell .oj-checkboxset-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.oj-table {
  &.provider-accounts-table {
    .oj-table-data-cell {
      white-space: nowrap;
      vertical-align: middle;
    }
  }
  &.oj-table-scroll-horizontal {
    .oj-table-column-header-cell {
      line-height: 1.5rem;
    }
  }
}

.list-bottom-pad {
  padding-bottom: 0.6rem;
}

.list-top-pad{
  padding-top: 0.5rem;
}
.float-right{
  @include float(right);
}
