.trade-finance {
  .discrepanciesTable{
	 .oj-radioset{
		 position:relative;
		 top:-0.4rem;
		 .oj-choice-row-inline{
			 padding-top:0;
		 }
	 }
 }
 .trade-heading-banner {
     background: var(--banner-background);
     color: var(--banner-text-secondary);
     padding: var(--banner-padding);
     align-items: center;
     margin-bottom: 0.6rem;
     .label, label{
       color: var(--banner-text-primary);
       font-size: var(--base-font-size-medium);
     }
 }

}
