.user-management-icon{
  background: url($image-base-path + '/admin-icons/user-management.svg') no-repeat top center;


}
.party-preferences{
  background: url($image-base-path + '/admin-icons/party-preferences.svg') no-repeat top center;

}

.user-group{
  background: url($image-base-path + '/admin-icons/user-group.svg') no-repeat top center;

}
.workflow-management{
  background: url($image-base-path + '/admin-icons/work-flow.svg') no-repeat top center;

}
.approver-rules{
  background: url($image-base-path + '/admin-icons/approver-rules.svg') no-repeat top center;

}


.party-account-access{
  background: url($image-base-path + '/admin-icons/party-account-access.svg') no-repeat top center;

}
.user-account-access{
  background: url($image-base-path + '/admin-icons/user-account-access.svg') no-repeat top center;

}


.file-identifier-maintenance{
  background: url($image-base-path + '/admin-icons/file-identifier.svg') no-repeat top center;

}
.user-file-identifier-mapping{
  background: url($image-base-path + '/admin-icons/user-file-identifier.svg') no-repeat top center;

}
