.icon-part-full-redemption-img{
  background: url($image-base-path + '/quick-link-icons/part-full-redemption.svg') no-repeat top left;
  content:'';
}
.icon-top-up-img{
  background: url($image-base-path + '/quick-link-icons/top-up.svg') no-repeat top left;
  content:'';
}
.icon-statement-request-img{
  background: url($image-base-path + '/quick-link-icons/statement-request.svg') no-repeat top left;
  content:'';
}
.icon-open-term-deposit-img{
  background: url($image-base-path + '/quick-link-icons/open-term-deposit.svg') no-repeat top left;
  content:'';
}

.cheque-status-inquiry-img{
  background: url($image-base-path + '/quick-link-icons/cheque-status.svg') no-repeat top left;
}
.icon-cheque-stop-img{
  background: url($image-base-path + '/quick-link-icons/cheque-stop.svg') no-repeat top left;
  content:'';
}
.icon-cheque-img{
  background: url($image-base-path + '/quick-link-icons/cheque-book.svg') no-repeat top left;
  content:'';
}
.icon-edit-maturity-img{
  background: url($image-base-path + '/quick-link-icons/edit-maturity.svg') no-repeat top left;
  content:'';
}
.icon-loan-repayment-img{
  background: url($image-base-path + '/quick-link-icons/loan-repayment.svg') no-repeat top left;
  content:'';
}
.icon-loan-domastic-img{
  background: url($image-base-path + '/quick-link-icons/domestic-payment.svg') no-repeat top left;
  content:'';
}
.icon-scheduled-inquiry-img{
  background: url($image-base-path + '/quick-link-icons/scheduled-inquiry.svg') no-repeat top left;
  content:'';
}
.icon-redemption-enquiry-img{
  background: url($image-base-path + '/quick-link-icons/disbursement-enquiry.svg') no-repeat top left;
  content:'';
}
.icon-account-transfer-img{
  background: url($image-base-path + '/quick-link-icons/account-transfer.svg') no-repeat top left;
  content:'';
}
.icon-file-upload-img{
  background: url($image-base-path + '/quick-link-icons/file-upload-identifier.svg') no-repeat top left;
  content:'';
}
.icon-file-upload-enq-img{
  background: url($image-base-path + '/quick-link-icons/uploaded-file-inquiry.svg') no-repeat top left;
  content:'';
}
.icon-loan-repayment-adhoc-img{
  background: url($image-base-path + '/quick-link-icons/domestic-payment.svg') no-repeat top left;
  content:'';
}
