.claim-payment {

    &__button-left {
            justify-content: left !important;
        }

    .security-code-verification {

        .button-left {
            justify-content: left !important;
        }

        .oj-choice-item {
            @include single-margin(right,4.4rem  !important);
        }

        .radio-padding {
            padding-top: 0.6rem;
        }
    }
}
