.promotional-offer{

  .oj-filmstrip-container.oj-filmstrip-item-container{
    justify-content: flex-start;
    &:nth-child(n+2){
      justify-content: flex-end;
    }
  }
  &-item{
    width:97.5%;
  }
  img{
    width:100%;
    height: calc((17.4rem / 2) - 0.6rem);
  }

}
