@import "utils";
.oj-panel {
  &.mail-box{
    padding: 0rem !important;
  .uper-message-section{
    height:3.2rem;
    padding: 0.9rem;
      .msg-count{
      font-size:1.5rem;
      font-weight: var(--base-font-weight-bold);
      }
  }
  .lower-message-section{
    height:0.9rem;
    padding: 0.4rem;
  }
  .msg-text{
  font-size: 0.8rem;
  }
  .FR{
    @include float(right);
  }
  .MT5{
    margin-top:0.3rem;
  }
  }
}
