.myLimits{
    @include mq(large){
		width: 80vw;
		max-width: 80rem;
    }
    @include mq(medium){
		width: 80vw;
		max-width: 80rem;
    }
}.bill-payments {
	background: var(--base-background-primary);

	.category-list {
		padding-top: 1rem;
		.oj-flex-item.oj-sm-4 {
			padding-bottom: 2rem;

			.category-name {
				padding-top: 0.5rem;
				word-wrap: break-word;
			}
		}
	}

	.edit-category {
		&__text {
			@include single-padding(right,1rem);
		}
		&__icon{
			position:relative;
			top:0.2rem;
		}
	}
    .input-date-width {
        min-width : 10em !important;
    }
		.iconStyling {
		 font-size: 1.1rem;
		 position: relative;
		 top: 0.1rem;
		 color: var(--link-base);
		}
}

.oj-label-inline {
 margin-top: 0 !important;
}
.sample-bill {
	width: 100%;
}
