.fatca-compliance-container {
  .nested-radio-container {
    padding: 0 0.5rem;
  }

  .radio-child-container {
    padding: 0.5rem 1rem;
  }

  .fatca-popup {
    width: 15rem;
    @include mq(small) {
      width: 10rem;
    };
  }
}
