@import "utils";
$recent-activity-panel-bg: #79504b;

  .recent-account-transaction {


    &__sub-heading {

      padding-top:0.6rem;
      font-weight:var(--base-font-weight-light);
      margin:0;
      @include mq(small){
        color: var(--base-text-primary);
        font-weight:var(--base-font-weight-regular);
      }
    }

    .account-no {
      .account-input {
        .label {
          display: none;
        }
      }
    }
    &__list {
      height: 9.4rem;
      width:100%;
      padding: 0.2rem;
      list-style: none;
      margin-top: 0;
      overflow-y: auto;
      @include mq(small) {
        height: 8.4rem;
        padding:0.3rem;
      }
    }

    &-list {
      &__item {
        padding: 0.5rem 0;
        &:last-child {
          border: 0;
        }
      }

      &-item {
        &__amount {
          @include text-align(right);
        }

        &__description {
          width: 12.5rem;
          @include mq(small){
            padding:0.3rem 0 0 0.3rem;
          }
        }

        .oj-flex {
          margin: inherit;
        }
      }

      &__nodata {
        padding: 0.6rem;
        @include mq(small) {
          padding: 0.3rem 0;
          text-align: center;
        }
        @include mq(medium) {
          padding: 0.3rem 0;
          text-align: center;
        }
      }
      &-nodata{
        &__image{
          height:9rem;
        }
        &__text{
          display:flex;
          align-items: center;
          @include mq(small){
            color: var(--base-text-primary);
            justify-content: center;
          }
        }
      }
    }
    &__view-all {
      @include view-all-alternate;
      @include mq(large){
        position:relative;
        top:0.3rem;
      }
    }
  }



.recent-account-transaction {
  &__nodata {
    padding: 0.6rem;
    height:9.5rem;
  }


}
