
	<div class="header">
		<div class="header-container">
			<div class="oj-row">
				<div class="oj-col center oj-sm-12 oj-md-12 oj-lg-12 comp-title">
					<h1 data-bind="text:$component.wallet.origination.details.aggregators">
				</h1></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div>
			<!-- ko if:($baseModel.large() || $baseModel.medium()) -->
			<div data-bind="template: { name:'wallet/aggregator-web'}"></div>
			<!-- /ko -->
			<!-- ko if:$baseModel.small() -->
			<div data-bind="template: { name:'wallet/aggregator-mobile'}"></div>
			<!-- /ko -->
		</div>
	</div>
