$goal-background-color: #d9efff;
.goals {
    background: $goal-background-color;

    .parallaxbox {
        background-image: url($image-base-path + '/index/icons/goals.png');
        height: 28.1rem;
        
        background-position: top center;
        @include mq(small) {
            background-image: url($image-base-path + '/index/icons/goals.png');
            height: 10.3rem;
            background-position: left bottom;
            background-attachment: scroll;
            background-size: contain;
        }
        @include mq(medium) {
            background-image: url($image-base-path + '/index/icons/goals.png');
            height: 17.8rem;
            background-position: left bottom;
            background-attachment: scroll;
            background-size: contain;
        }
    }

    .movingbox {
        position: relative;
        padding: 5rem 0.6rem;
        margin: 0 auto;
        max-width: 75rem;
        @include text-align(right);
        @include mq(small){
          padding: 0.5rem 1.3rem;
        }
        @include mq(medium){
          padding: 0.5rem 1.3rem;
        }
    }

    h3.goal-tile-heading {
        font-size: 1.9rem;
        color: var(--base-text-primary);
        font-weight: normal;
        @include mq(small){
          font-size: 1.3rem;
        }
    }

    .quote {
        font-size: 1.1rem;
        color: var(--base-text-primary);
        letter-spacing: 0.4;
        @include mq(small){
          font-size: 0.8rem;
        }

        .author {
            @include text-align(right);
            color: var(--base-text-secondary);
            font-style: italic;
        }
    }
}
