.document-details{
  .doc-table {
		.doc-copies {
			@include padding( 0.5em,1em,1.3rem,0.3rem );
			.oj-flex-item {
				padding: 0 !important;
        @include mq(small) {
  				@include margin(0, 0.6rem, 0, 0);
  			}
        @include mq(large) {
  				@include margin(0, 0.6rem, 0, 0);
  			}
			}
			.oj-form-control {
				min-width: 100%;
			}
			.forward-slash {
				margin-top: 0.3rem;
				span {
					font-size: 1.3rem;
				}
			}
		}
		.oj-table-data-cell {
			vertical-align: baseline !important;
		}
	}
  .oj-listview-cell-element{
    .doc-card {
			@include single-margin(left,1.4rem);
			.oj-form-control {
				min-width: 100%;
			}
			.forward-slash {
				margin-top: 0.3rem;
				span {
					font-size: 1.3rem;
				}
			}
		}
  }
  .draft-cards {
		li:last-child{
			border-bottom: 0;
		}
	}

  .clause-table {
		.clause-desc {
      @include padding( 0.6rem,0em,1em,0.3rem );
			height: 2.5rem;
		}
  }
  .doc-days-div {
		.doc-presented {
      @include padding(0.7rem, 0, 0, 0);
		}

		.shipment-days {
      @include padding(0.7rem, 0, 0, 0);
			@include mq(small) {
				padding: 0;
			}
		}

		.condition-input .oj-inputtext.oj-form-control.oj-component {
			width: 2.5rem;
			min-width: initial;
		}
	}
}
