.profile{
  .profile-name{
    font-size: 1rem;
    bottom: 1.5rem;
    position: relative;
  }
  .profile-image{
    width: 3.5rem;
    height: 3.5rem;
  }
  .profile-header{
    padding-bottom: 0.0rem !important;
    margin-bottom: 1rem;
    border-bottom: 0.05rem solid var(--base-border-default);
  }
}
