
.financialLimitPackage {
  .clone {
    padding: 0rem 0rem 1rem 1rem!important;
  }

  .limitBox {
    border-bottom: 0.05rem solid var(--base-border-default);
    padding: 0.6rem;
    margin-top: 0.6rem;

  }
}

  oj-label {
    margin-top: 0;
  }
