<div class="oj-flex oj-flex-items-pad" data-bind="with:$component.addressDetails">

    <div class="oj-flex-item oj-sm-12">
        <oj-label><span data-bind="text:$component.common.DeliveryLocation"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 addressfields">

        <!-- ko if:addressTypeDescription -->

        <div class="address-type" data-bind="text:addressTypeDescription"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.branchName -->

        <div data-bind="text:postalAddress.branchName"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.line1 -->

        <div data-bind="text:postalAddress.line1"></div>

        <!-- /ko -->


        <!-- ko if:postalAddress.line2 -->

        <div data-bind="text:postalAddress.line2"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.line3 -->

        <div data-bind="text:postalAddress.line3"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line4 -->

        <div data-bind="text:postalAddress.line4"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line5 -->

        <div data-bind="text:postalAddress.line5"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line6 -->

        <div data-bind="text:postalAddress.line6"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line7 -->

        <div data-bind="text:postalAddress.line7"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line8 -->

        <div data-bind="text:postalAddress.line8"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line9 -->

        <div data-bind="text:postalAddress.line9"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.line10 -->

        <div data-bind="text:postalAddress.line10"></div>

        <!-- /ko -->


        <!-- ko if:postalAddress.line11 -->

        <div data-bind="text:postalAddress.line11"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.line12 -->

        <div data-bind="text:postalAddress.line12"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.city -->

        <div data-bind="text:postalAddress.city"></div>

        <!-- /ko -->

        <!-- ko if:postalAddress.state -->

        <div data-bind="text:postalAddress.state"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.country -->

        <div data-bind="text:postalAddress.country"></div>

        <!-- /ko -->
        <!-- ko if:postalAddress.zipCode -->

        <div data-bind="text:postalAddress.zipCode"></div>

        <!-- /ko -->


    </div>

</div>
