.amendLC{
  .tnc-div{
		.oj-checkboxset-wrapper {
			display: inline-flex;
			align-items: baseline;
		}

		@include mq(small) {
			padding-bottom: 1.3rem !important;
		}
		.tnc-checkbox {
			max-width: 1.3rem;
			vertical-align: text-bottom;
		}
	}

  .tncContent{
    div{
      padding: 0.6rem;
    }
  }

  .tolerance-input .oj-inputtext, .tenor-input .oj-inputtext {
		min-width: 3em;
	}

	.tolerance-input {
		@include single-margin(left,0.6rem);
	}

	.tolerance-label {
		padding: 0.6rem;
	}

	.tolerance-percent-span {
		padding: 0.6rem 0rem !important;
	}

  .trade-heading-banner {
      background: var(--banner-background);
      color: var(--banner-text-secondary);
      padding: var(--banner-padding);
      align-items: center;
      .label, label{
        color: var(--banner-text-primary);
        font-size: var(--base-font-size-medium);
      }
  }

  @include mq(small) {
    padding-top: 0;
  }
}
