<action-header params="baseModel : $baseModel, rootModel : $component, heading:$component.Nls.debitDetails"></action-header>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.debitPartyId"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('partyId' in $data)?partyId:'-')"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.debitCurrency"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('debitAccountCurrency' in $data)?debitAccountCurrency:'-')"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.debitAccountNumber"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('debitAccountId' in $data)?debitAccountId:'-')"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.debitAccBranch"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('debitAccountBranch' in $data)?debitAccountBranch:'-')"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.debitNarrative"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
        <span data-bind="text : (('debitNarrative' in $data)?debitNarrative:'-')"></span>
    </div>
</div>
<action-header params="baseModel : $baseModel, rootModel : $component, heading:$component.Nls.creditDetails"></action-header>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.beneName"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('beneficiaryName' in $data)?beneficiaryName:'-')"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.valueDt"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('date' in $data)?date:'-')"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.creditAccountNumber"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('creditAccountId' in $data)?creditAccountId:'-')"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.creditAccBranch"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('creditAccountBranch' in $data)?creditAccountBranch:'-')"></span>
    </div>
    
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.paymentAmount"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('amt' in $data)?amt:'-')"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.paymentCurrency"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
        <span data-bind="text : (('currencyAmount' in $data)?currencyAmount.currency:'-')"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label><span data-bind="text:$component.Nls.creditNarrative"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
        <span data-bind="text : (('creditNarrative' in $data)?creditNarrative:'-')"></span>
    </div>
</div>
