@import "utils";
$credit-color: var(--base-text-primary);

.activity-history {
	padding: 0;

	&__heading {
		font-weight: var(--base-font-weight-regular);
		margin: 0.6rem 0;
	}

	&__content {
		height: 15rem;
		overflow-y: auto;
		margin-bottom:0.3rem;
		ul{
			@include mq(small){
				padding:0;
			}
			li{
					padding:0.6rem 0;
			}
		}
		.credit {
			color: $credit-color;
		}

		.debit {
			color: var(--base-color-danger);
		}
	}

	.upcoming-payments {
		text-align: center;

		img {
			height: 12rem;
		}

		&-msg {
			margin-bottom: 2rem;
		}
	}

	&__view-all {
		@include view-all;
		@include single-border(right, 0.05rem solid var(--base-border-default));
	}

	&__repeatTransfer {
		@include view-all;
		@include right(0);
	}

	.view-all {
		@include view-all;
		@include mq(large){
      position:relative;
      top:0.3rem;
    }
	}
}
