<div id="terms-and-conditions">
  <div class="oj-flex-item" data-bind="template: {name: 'headers/headers'}"></div>

    <div class="oj-flex oj-flex-items-pad user-login-configuration__extra-space user-login-configuration__leftSpace center">
        <h3>Terms and Conditions</h3>
    </div>


<div class="oj-flex oj-flex-items-pad user-login-configuration__terms-conds-scroll information-wrapper">
  <div class="" data-bind="template: {name: 'help/terms-and-conditions'}"></div>
</div>

<div class="oj-flex oj-flex-items-pad button-container">
  <oj-button class="action-button-primary " on-click="[[$component.loadNextComponent]]"><span slot="startIcon" class="icons icon-ok"></span>
      <span data-bind="text:$component.resourceBundle.buttons.acceptButton"></span>
</oj-button>
</div>
</div>
