<div class="form-main-container">
  <!-- ko if:  $baseModel.small() -->
  <!-- ko ifnot: showConfirmLoginFlow -->
  <div class="dialogBox">
    <div id="disclaimer-container" class="disclaimer-container">
      <div class="oj-flex">
        <span class="oj-flex-item disclaimer-text" data-bind="text: nls.changePassword.policyDisclaimer"></span>
      </div>
    </div>
  </div>
  <!-- /ko -->
  <!-- /ko -->
  <div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial oj-sm-justify-content-space-between">
      <div data-bind="template : {afterRender: $component.afterRender.bind($data,$root)}"></div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-7">
      <!-- ko ifnot: showConfirmation -->
      <page-section params="baseModel : $baseModel, rootModel : $data, heading :'' ">
        <oj-validation-group id="validationTracker">

        <div class="oj-flex change-password-msg">
          <div class="oj-flex-item oj-sm-12">
            <span data-bind="text: nls.changePassword.changeYourPassword"></span>
          </div>
        </div>
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12">
            <oj-label for="oldpwd"><span data-bind="text:nls.changePassword.oldPasswordLabel"></span></oj-label>
          </div>

          <div class="oj-flex-item oj-sm-10 oj-md-7 oj-lg-5">
            <oj-input-password :aria-label="[[nls.changePassword.oldPasswordLabel]]" id="oldpwd" type="password" autocomplete="off" required on-nullcheck="[[nullCheck]]" validators="[[[notEqualToNewPassword]]]" value="{{oldPassword}}"></oj-input-password>
          </div>
          <div class="oj-flex-item oj-sm-2 oj-md-1 oj-lg-1">
            <virtual-keyboard params="{baseModel : $baseModel,value: oldPassword, element: 'oldpwd'}"></virtual-keyboard>
          </div>
        </div>
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12">
            <oj-label for="newpasswd"><span data-bind="text:nls.changePassword.newPasswordLabel"></span></oj-label>
          </div>


          <div class="oj-flex-item oj-sm-10 oj-md-7 oj-lg-5">

            <oj-input-password :aria-label="[[nls.changePassword.newPasswordLabel]]" id="newpasswd" type="password" autocomplete="off" required validators="[[[notEqualToOldPassword]]]" value="{{$component.newPassword}}"></oj-input-password>
          </div>
          <div class="oj-flex-item oj-sm-2 oj-md-1 oj-lg-1">
            <virtual-keyboard params="{baseModel : $baseModel,value: $component.newPassword, element: 'newpasswd'}"></virtual-keyboard>
          </div>
        </div>
        <!-- ko if: setNewPass -->
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12">
            <oj-label for="newpwd"><span data-bind="text:nls.changePassword.reEnterPasswordLabel"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-10 oj-md-7 oj-lg-5">
            <oj-input-password :aria-label="[[nls.changePassword.reEnterPasswordLabel]]" id="newpwd" type="password" autocomplete="off" required validators="[[[equalToPassword]]]" value="{{confirmPassword}}"></oj-input-password>
          </div>
          <div class="oj-flex-item oj-sm-2 oj-md-1 oj-lg-1">
            <virtual-keyboard params="{baseModel : $baseModel,value: confirmPassword, element: 'newpwd'}"></virtual-keyboard>
          </div>
        </div>
        <!-- /ko -->

      </oj-validation-group>

        <div class="oj-flex button-container">
          <oj-button type="submit" class="action-button-primary" on-click="[[changePassword]]">
            <span data-bind="text:nls.generic.common.submit"></span>
          </oj-button>
        </div>

      </page-section>
      <!-- /ko -->
</div>
      <!-- ko if: showConfirmation -->
       <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
      <div class="confirm-container">
        <div class="oj-flex-item center ">
        <div class="oj-flex-item oj-lg-12 oj-md-6 oj-sm-12 video-container">
        <video class="oj-lg-2" data-bind="loadImage:'change-password/confirmation.mp4'" autoplay>
         </video>
       </div>
        </div>
        <div class="oj-flex-item center create-header">
          <div class="confirm-text-heading" data-bind="text : nls.changePassword.successMessage"></div>
        </div>
        <div class="center">
          <span data-bind="text : nls.changePassword.confirmationMessage"></span>
          </div>
          <div class="oj-flex oj-sm-flex-items-initial
                      oj-lg-justify-content-center">
          <div class="oj-flex-item button-container oj-lg-justify-content-center">
            <oj-button type="submit" class="action-button-primary" on-click="[[doneClicked]]">
              <span data-bind="text:nls.generic.common.login"></span>
            </oj-button>
          </div>
        </div>
      </div>
       </div>
      <!-- /ko -->
    <!-- ko if: !$component.showConfirmation() && $baseModel.large() -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-5">
      <help params="baseModel : $baseModel, rootModel : $component, transaction: 'password-policy'"></help>
    </div>
    <!-- /ko -->
    <!-- ko if:  $baseModel.small() -->
    <floating-panel params="baseModel : $baseModel, panelId: 'passwordPolicy', rootModel: $component">
        <help params="baseModel : $baseModel, rootModel : $component, transaction: 'password-policy'"></help>
    </floating-panel>
    <!-- /ko -->

  </div>
</div>


<!-- ko if:$component.showLoginOptions() -->
<login-options params="baseModel : $baseModel, rootModel:$data,root:$root,dashboard:$dashboard,password:$component.newPassword,firstTimeLoginFlow:'true'"></login-options>
<!-- /ko -->
