$page-section-heading-color: var(--base-text-primary);
.page-section {
	&__container {}

	&-container {}

	&__header {}

	&-header {}

	&heading {
		overflow: hidden;
		display: inline-block;
	}

	&-heading {
		margin : 0 auto !important;
		&__text {
			@include text-align(left);
			color: $page-section-heading-color;
			margin: 0.6rem;
			border-bottom: 0.05rem solid var(--base-border-default);
			padding-bottom: 0.5rem;
		}
	}

	&-container__body {}

	&-content {
		margin-bottom: 0.6rem;
		&__data {
			@include mq(small){
				margin : 0 auto !important;
			}
			margin : 0 auto 0.6rem !important;
			.oj-flex{
				padding-bottom: .5rem;
			}
		}
	}
}
