.sr-request-list {
    border-bottom: 0.05rem solid var(--base-border-default);
    padding: 0;
}

.sr-accordian {
    &-container {
        position: relative;
        background: var(--base-background-primary);
        @include mq(medium) {
            top: 0;
            margin-bottom: 1.1rem;
        }
        &-heading {
            font-size: var(--base-font-size-default);
        }
        .oj-accordion-collapsible> {
            .oj-collapsible-header {
                background: var(--base-background-primary);
                border: 0;
                border-bottom: 0.05rem solid var(--base-border-default);
                margin-bottom: 0.6rem !important;
                >.oj-collapsible-header-icon {
                    @include float(right);
                    padding: 0;
                }
            }
            .oj-collapsible-wrapper>.oj-collapsible-content {
                border-top: 0;
                position: relative;
                padding: 0 0.8rem 0 0;
            }
        }
        .oj-collapsible-header {
            display: block;
            padding: 0.5rem;
            height: 2.7rem;
            margin-bottom: 0 !important;
        }
    }
}