.account-number-container {
    .oj-panel {
      padding: 0.6rem;
    }
    .account-number-bottom-padding {
      padding-bottom: 0.6rem;
    }
}
.info-padding{
  padding: 0.3rem 0.6rem !important;
  font-size: 0.8rem !important;
  margin: 0 !important;
}

.icon-size {
    font-size: 1.3rem !important;
}

.icon-style {
    @include single-border(left, 0.05rem solid rgba(44,50,81,.1) !important);
    max-height: 1.3rem !important;
}
