.service-request-create {
  &__section{
    border: 0.05rem solid var(--base-border-default);
    margin:0.5rem 0;
    padding-top: 0.4rem;
  }
  .oj-switch.oj-selected .oj-switch-track {
    background-color: #027bc7;
    border-color: #027bc7;
  }
}
