<div class="oj-flex oj-flex-items-pad">
  <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-2" data-bind="css:labelClasses">
    <oj-label :for="[[rootId]]"><span data-bind="text:label"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-lg-9" data-bind="attr:{'id': rootId, 'aria-label':label}">
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-6 oj-md-2 oj-lg-1">
        <oj-label :for="[[yearsId]]"><span data-bind="text:$component.resource.tenure_year"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-3 oj-lg-2">
        <oj-select-one required :id="[[yearsId]]" translations="[[{'required':{messageDetail:$component.resource.messages.years}}]]" :placeholder="" value="{{tenureYears}}">
          <!-- ko foreach: optionYears -->
          <oj-option :value="{{value}}"><span data-bind="text:label"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
      <div class="oj-flex-item label oj-sm-6 oj-md-2 oj-lg-1">
        <oj-label :for="[[monthsId]]"><span data-bind="text:$component.resource.tenure_month"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-3 oj-lg-2 padding-top-5">
        <oj-select-one required :id="[[monthsId]]" translations="[[{'required':{messageDetail:$component.resource.messages.months}}]]" :placeholder="" value="{{tenureMonths}}">
          <!-- ko foreach: optionMonths -->
          <oj-option :value="{{value}}"><span data-bind="text:label"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
      <!-- ko if: requirementId && requirementId==='term-deposits' -->
      <div class="oj-flex-item label oj-sm-6 oj-md-2 oj-lg-1">
        <oj-label :for="[[daysId]]"><span data-bind="text:$component.resource.tenure_day"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-3 oj-lg-2 padding-top-5">
        <oj-select-one required :id="[[daysId]]" translations="[[{'required':{messageDetail:$component.resource.messages.days}}]]" :placeholder="" value="{{tenureDays}}">
          <!-- ko foreach: optionDays -->
          <oj-option :value="{{value}}"><span data-bind="text:label"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
