$flip-panel-bg: #cfe8fc;
$casa: #FCB300;
$credit-cards: #ff7b6d;
$loans: #5fefef;
$td: #14BA92;
$rd : #FF669E;
.flip-account {
  .top-pannel{
    padding: 0.6rem 0.6rem 0;
    h3.sub-heading {
      padding: 0;
      outline: none;
    }
  }
  &__list{
    padding:0;
    margin:0;
    height:17rem;
    overflow-y:auto;
  }
  &-list{
    &-listItem{
      &-title{
      &__account-name{
        font-size: var(--base-font-size-large);
        padding:0 0.6rem;
      }
    }
    }
  }
  &.CSA {
    &:before {
      content: '';
      @include single-border(left, 0.4rem solid $casa);
      position: absolute;
      @include left(0);
      height: 100%;
      @include mq(small){
        height: calc(100% - 22rem);
      }
    }
  }

  &.TRD {
    &:before {
      content: '';
      @include single-border(left, 0.4rem solid $td);
      position: absolute;
      @include left(0);
      height: 100%;
      @include mq(small){
        height: calc(100% - 22rem);
      }
    }
  }

  &.RD {
    &:before {
      content: '';
      @include single-border(left, 0.4rem solid $rd);
      position: absolute;
      @include left(0);
      height: 100%;
      @include mq(small){
        height: calc(100% - 22rem);
      }
    }
  }

  &.LON {
    &:before {
      content: '';
      @include single-border(left, 0.4rem solid $loans);
      position: absolute;
      @include left(0);
      height: 100%;
      @include mq(small){
        height: calc(100% - 22rem);
      }
    }
  }

  &.CCA {
    &:before {
      content: '';
      @include single-border(left, 0.4rem solid $credit-cards);
      position: absolute;
      @include left(0);
      height: 100%;
      @include mq(small){
        height: calc(100% - 22rem);
      }
    }
  }
}
