.oj-panel {
    background-color: var(--base-background-primary);
    @include padding(0, 0, 0.6rem, 0);
    border-radius: 0.1rem;
    height: 100%;
    //animation: animatezoom 0.6s;
    border: 0.05rem solid var(--base-border-default);
    @include mq(small) {

    }
    h3.sub-heading {
        @include panel-title;

        display: inline-block;
    }

    .oj-listview{
      border: 0;
    }
    ul li{
      &:last-child{
        border-bottom: 0;
      }
    }
    .icons.icon-arrow-right{
      font-size: 80%;
    }
}
