@import "utils";
.system-admin {
  height:100%;
  background: url($image-base-path + "/dashboard/auth_admin.svg");
  background-color: #f3ffec;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: .0556rem solid var(--base-border-default)
}
