.header{
  margin:0;
}
  .quick-link-contents{
    display: flex;
    padding:0.6rem 0.3rem 0.6rem 0.3rem;
    img{
      height:3rem;
    }
  }
.icon-title{
    align-self: center;
    width: calc(100% - 3.3rem);
    text-align: start;
}
.link{
  align-self: center;
  width: 100%;
}