$casa-action-card-color: #1F3D62;
$td-action-card-color : #CC4537;
$loan-action-card-color: #0A6C99;
.accounts-overview {
  .section{
    margin:auto;
  }
  &__account-info {
    text-align: center;
    font-size: var(--base-font-size-larger);
    color:var(--color-white);
    
  }

  &__account-value  {
    text-align: center;
    font-size: var(--base-font-size-default);
    color:var(--color-white);
    
  }

  &__image  {
    text-align: center;
    font-size: var(--base-font-size-larger);
    padding: 0.6rem 0;
    img{
      height:4rem;
    }
  }

  &__content{
    height:inherit;
  }
  &-content{
      &__icon{
        display:flex;
        align-items: flex-end;
      }
      &-icon{
        &__img{
          height:4rem;
          
          margin:1rem auto;
        }

        &__note{
          font-weight: var(--base-font-weight-regular);
          font-size:var(--base-font-size-default);
          color: var(--color-white); 
          text-align: center;
          margin: 0 auto;
          width:90%;
        }
      }
  }


  &.demand-deposits {
    background-color: $casa-action-card-color;
    
    
  }

  &.term-deposits {
    background-color: $td-action-card-color;
    
    
  }

  &.loans {
    background-color: $loan-action-card-color;
    
    
  }
}
