.relationship-matrix {
  .oj-table.relationship-matrix-table {
    .oj-table-data-cell {
      white-space: nowrap;
      vertical-align: middle;
    }
    &.oj-table-scroll-horizontal {
      .oj-table-column-header-cell {
        line-height: 1.5rem;
      }
    }
  }
  .icon-information {
    font-size: var(--base-font-size-small);
    position: relative;
    top: -0.25rem;
  }
  .info-strip {
    margin: 1rem 0;
  }
}
