.access-point {
  .oj-accordion-collapsible {
    margin-bottom: 0.6rem;
    border: 0.05rem solid var(--base-border-default);

    .oj-collapsible-header {
      display: inline-block;
      width: 100%;
      border-width: 0 0 0.1rem 0;
      background: var(--base-border-default) !important;

      &.acc-header {
        .accordionHeader {
          padding: 0.6875rem;
        }
        display: inline-block;
        color: var(--base-text-primary);
        border-bottom: 0.05rem solid var(--base-border-default);
        padding: 0;
      }

      .oj-component-icon.oj-clickable-icon-nocontext.oj-collapsible-header-icon.oj-collapsible-open-icon,
      a {
        @include float(right);
        margin-top: 0.6rem !important;
        @include single-margin(right, 0.6rem !important);

      }
    }

    & > .oj-collapsible-wrapper > .oj-collapsible-content {
      border-top: 0;
      padding-top: 1em;
    }

    .icon-2x {
      font-size: 1.2rem;
    }

    .access-point-row {
      padding-top: 0.625rem;
      text-align: center;
    }

    .access-point-row-icon {
      @include single-padding(left, 0.625rem);
    }
  }

  .oj-accordion-collapsible.oj-collapsed {
    border-bottom: 0 !important;
  }

  .icon-size {
    font-size: 1.2rem;
  }
}
