<!-- ko if:success() -->
<div class=" wallets_container">
    <div class="otpscreen">
      <div class=" oj-panel form-main-container card-action-container">
          <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
          <div class=" section user-confirm-block">
                <div class="success-icon">
                    <img data-bind="loadImage:'wallet/wallet-success.png'">
                </div>
                <div>
                    <div class="confirmtaion-heading" data-bind="text:$component.wallet.success.succcessful"></div>
                </div>
                <div class="oj-row declaration">
                    <div data-bind="text:$component.wallet.success.successMsg"></div>
                    <div data-bind="text:confirmationMsg1"></div>
                </div>

              <div class="oj-row button-container">
                <oj-button id="button" class="action-button-primary" on-click="[[showDashboard]]">
      <span data-bind="text:$component.wallet.success.done"></span>
</oj-button>
                <img data-bind="loadImage:'wallet/wallet-tick-white.png'">
              </div>
        </div>
        </page-section>
      </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if:failure() -->
<div class=" wallets_container">
    <div class="otpscreen">
      <div class=" oj-panel form-main-container card-action-container">
          <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
          <div class=" section user-failure-block">
                <div class="failure-icon">
                    <img data-bind="loadImage:'wallet/wallet-success.png'">
                </div>
                <div>
                    <div class="confirmtaion-heading" data-bind="text:$component.wallet.success.failure"></div>
                </div>
                <div class="oj-row declaration">
                    <div data-bind="text:$component.wallet.success.failureMsg"></div>
                    <div data-bind="text:confirmationMsg1"></div>
                </div>

              <div class="oj-row button-container">
                <oj-button id="button" class="action-button-primary" on-click="[[showDashboard]]">
      <span data-bind="text:$component.wallet.success.done"></span>
</oj-button>
                <img data-bind="loadImage:'wallet/wallet-tick-white.png'">
              </div>
        </div>
        </page-section>
      </div>
    </div>
</div>
<!-- /ko -->
