@charset "UTF-8";
$sass-cache-bust: "?bust=@@BUST_ARGS";

@font-face {
  font-family: "obdx";
  src:url("fonts/obdx.eot" + $sass-cache-bust);
  src:url("fonts/obdx.eot?#iefix" + $sass-cache-bust) format("embedded-opentype"),
    url("fonts/obdx.woff" + $sass-cache-bust) format("woff"),
    url("fonts/obdx.ttf" + $sass-cache-bust) format("truetype"),
    url("fonts/obdx.svg#obdx" + $sass-cache-bust) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[data-icon]:before {
  font-family: "obdx" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "obdx" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-access:before {
  content: "\e056";
}
.icon-account-holder:before {
  content: "\e057";
}
.icon-accounts:before {
  content: "\e058";
}
.icon-add:before {
  content: "\e059";
}
.icon-add-occupation:before {
  content: "\f010";
}
.icon-add-on-card:before {
  content: "\e05a";
}
.icon-alert:before {
  content: "\e05b";
}
.icon-apply:before {
  content: "\e05c";
}
.icon-approvals:before {
  content: "\e05d";
}
.icon-arrow:before {
  content: "\e05e";
}
.icon-arrow-down:before {
  content: "\e05f";
}
.icon-arrow-left:before {
  content: "\e061";
}
.icon-arrow-right:before {
  content: "\e062";
}
.icon-arrow-up:before {
  content: "\e063";
}
.icon-assets:before {
  content: "\e064";
}
.icon-attachment:before {
  content: "\e065";
}
.icon-auto-pay:before {
  content: "\e066";
}
.icon-back-arrow:before {
  content: "\e067";
}
.icon-bank-details:before {
  content: "\e068";
}
.icon-block-debit-card:before {
  content: "\e069";
}
.icon-branch-details:before {
  content: "\e07a";
}
.icon-calendar:before {
  content: "\e07b";
}
.icon-cancel:before {
  content: "\e07c";
}
.icon-cancel-card:before {
  content: "\e07d";
}
.icon-card-preference:before {
  content: "\e07e";
}
.icon-cc-mastercard:before {
  content: "\e07f";
}
.icon-cc-visa:before {
  content: "\e070";
}
.icon-change:before {
  content: "\e071";
}
.icon-check:before {
  content: "\e072";
}
.icon-check-box:before {
  content: "\e073";
}
.icon-cheque-status-enquiry:before {
  content: "\e074";
}
.icon-claim-money:before {
  content: "\e075";
}
.icon-close:before {
  content: "\e076";
}
.icon-comments:before {
  content: "\e077";
}
.icon-compress:before {
  content: "\e078";
}
.icon-confirm:before {
  content: "\e079";
}
.icon-contact-info:before {
  content: "\e08a";
}
.icon-copy:before {
  content: "\e08b";
}
.icon-create:before {
  content: "\e08c";
}
.icon-cross:before {
  content: "\e08d";
}
.icon-current-assets:before {
  content: "\e08e";
}
.icon-current-liabilities:before {
  content: "\e08f";
}
.icon-dashboard:before {
  content: "\e080";
}
.icon-debit-card:before {
  content: "\e081";
}
.icon-delete:before {
  content: "\e082";
}
.icon-delivery-preferences:before {
  content: "\e083";
}
.icon-disbursement-detail:before {
  content: "\e084";
}
.icon-download:before {
  content: "\e085";
}
.icon-drop-down:before {
  content: "\e086";
}
.icon-drop-left:before {
  content: "\e087";
}
.icon-drop-right:before {
  content: "\e088";
}
.icon-drop-up:before {
  content: "\e089";
}
.icon-edit:before {
  content: "\e09a";
}
.icon-eligibility:before {
  content: "\e09b";
}
.icon-employment:before {
  content: "\e09c";
}
.icon-exchange:before {
  content: "\e09d";
}
.icon-expand:before {
  content: "\e09e";
}
.icon-expense:before {
  content: "\e09f";
}
.icon-eye:before {
  content: "\e090";
}
.icon-eye-slash:before {
  content: "\e091";
}
.icon-facebook:before {
  content: "\e092";
}
.icon-fees-charges:before {
  content: "\e093";
}
.icon-file-pdf:before {
  content: "\e094";
}
.icon-file-text:before {
  content: "\e095";
}
.icon-file-upload:before {
  content: "\e096";
}
.icon-filter:before {
  content: "\e097";
}
.icon-foreign-exchange:before {
  content: "\e098";
}
.icon-forward-arrow:before {
  content: "\f00a";
}
.icon-funds:before {
  content: "\f00b";
}
.icon-goals:before {
  content: "\f00c";
}
.icon-google-plus:before {
  content: "\f00d";
}
.icon-heart:before {
  content: "\f00e";
}
.icon-heart-fill:before {
  content: "\f00f";
}
.icon-help:before {
  content: "\f000";
}
.icon-high-priority:before {
  content: "\f001";
}
.icon-history:before {
  content: "\f002";
}
.icon-home:before {
  content: "\f003";
}
.icon-host:before {
  content: "\f004";
}
.icon-income:before {
  content: "\f005";
}
.icon-information:before {
  content: "\f006";
}
.icon-insurance:before {
  content: "\f007";
}
.icon-interest-certificate:before {
  content: "\f008";
}
.icon-issue:before {
  content: "\f009";
}
.icon-liabilities:before {
  content: "\f01a";
}
.icon-limit:before {
  content: "\f01b";
}
.icon-linkedin:before {
  content: "\f01c";
}
.icon-loans:before {
  content: "\f01d";
}
.icon-location-arrow:before {
  content: "\f01e";
}
.icon-login:before {
  content: "\f01f";
}
.icon-logout:before {
  content: "\f020";
}
.icon-mailbox-view:before {
  content: "\f022";
}
.icon-maintenance:before {
  content: "\f023";
}
.icon-medium-priority:before {
  content: "\f024";
}
.icon-menu-bar:before {
  content: "\e000";
}
.icon-minus-circle:before {
  content: "\e001";
}
.icon-module:before {
  content: "\e002";
}
.icon-more:before {
  content: "\e003";
}
.icon-more-vertical:before {
  content: "\e004";
}
.icon-move:before {
  content: "\e005";
}
.icon-no:before {
  content: "\e006";
}
.icon-offers:before {
  content: "\e007";
}
.icon-ok:before {
  content: "\e008";
}
.icon-on-screen-alerts:before {
  content: "\e009";
}
.icon-onboarding:before {
  content: "\e00a";
}
.icon-others:before {
  content: "\e00b";
}
.icon-password:before {
  content: "\e00c";
}
.icon-pay:before {
  content: "\e00d";
}
.icon-payments:before {
  content: "\e00e";
}
.icon-pfm:before {
  content: "\e00f";
}
.icon-phone:before {
  content: "\e010";
}
.icon-plus:before {
  content: "\e011";
}
.icon-plus-circle:before {
  content: "\e012";
}
.icon-pre-processed:before {
  content: "\e013";
}
.icon-primary-info:before {
  content: "\e014";
}
.icon-print:before {
  content: "\e015";
}
.icon-proof-of-identity:before {
  content: "\e016";
}
.icon-push-notifications:before {
  content: "\e017";
}
.icon-qr-code:before {
  content: "\e018";
}
.icon-quick-access:before {
  content: "\e019";
}
.icon-radio:before {
  content: "\e01a";
}
.icon-radius:before {
  content: "\e01b";
}
.icon-re-centre:before {
  content: "\e01c";
}
.icon-received:before {
  content: "\e01d";
}
.icon-redeem:before {
  content: "\e01e";
}
.icon-refresh:before {
  content: "\e01f";
}
.icon-reject:before {
  content: "\e020";
}
.icon-remarks:before {
  content: "\e021";
}
.icon-repay:before {
  content: "\e022";
}
.icon-repayment:before {
  content: "\e023";
}
.icon-reply:before {
  content: "\e024";
}
.icon-reports:before {
  content: "\e025";
}
.icon-request:before {
  content: "\e026";
}
.icon-request-chequebook:before {
  content: "\e027";
}
.icon-request-money:before {
  content: "\e028";
}
.icon-request-parameters:before {
  content: "\e029";
}
.icon-request-pin:before {
  content: "\e02a";
}
.icon-review:before {
  content: "\e02b";
}
.icon-save:before {
  content: "\e02c";
}
.icon-schedule:before {
  content: "\e02d";
}
.icon-search:before {
  content: "\e02e";
}
.icon-security-question:before {
  content: "\e02f";
}
.icon-sent-mail:before {
  content: "\e030";
}
.icon-setting:before {
  content: "\e031";
}
.icon-share:before {
  content: "\e032";
}
.icon-sms:before {
  content: "\e033";
}
.icon-sort:before {
  content: "\e034";
}
.icon-sort-asc:before {
  content: "\e035";
}
.icon-sort-desc:before {
  content: "\e036";
}
.icon-specifications:before {
  content: "\e037";
}
.icon-spends:before {
  content: "\e038";
}
.icon-split:before {
  content: "\e039";
}
.icon-star:before {
  content: "\e03a";
}
.icon-start-transfer:before {
  content: "\e03b";
}
.icon-steps:before {
  content: "\e03c";
}
.icon-stop-transfer:before {
  content: "\e03d";
}
.icon-stop-unblock-cheque:before {
  content: "\e03e";
}
.icon-submit:before {
  content: "\e03f";
}
.icon-subscription:before {
  content: "\e040";
}
.icon-success:before {
  content: "\e041";
}
.icon-summary:before {
  content: "\e042";
}
.icon-tds:before {
  content: "\e043";
}
.icon-text:before {
  content: "\e044";
}
.icon-top-up:before {
  content: "\e046";
}
.icon-transfer:before {
  content: "\e047";
}
.icon-trends:before {
  content: "\e048";
}
.icon-twitter:before {
  content: "\e049";
}
.icon-undo:before {
  content: "\e04a";
}
.icon-unfavourite:before {
  content: "\e04b";
}
.icon-update:before {
  content: "\e04c";
}
.icon-upload:before {
  content: "\e04d";
}
.icon-user:before {
  content: "\e04e";
}
.icon-user-group:before {
  content: "\e04f";
}
.icon-verify:before {
  content: "\e050";
}
.icon-view-casa:before {
  content: "\e051";
}
.icon-view-edit:before {
  content: "\e052";
}
.icon-view-statement:before {
  content: "\e053";
}
.icon-warning:before {
  content: "\e054";
}
.icon-yes:before {
  content: "\e055";
}
.icon-gas:before {
  content: "\f011";
}
.icon-electricity:before {
  content: "\f012";
}
.icon-dth:before {
  content: "\f013";
}
.icon-music:before {
  content: "\f014";
}
.icon-medical:before {
  content: "\f015";
}
.icon-internet:before {
  content: "\f016";
}
.icon-water:before {
  content: "\f018";
}
.icon-telecom:before {
  content: "\f019";
}
.icon-multi-select:before {
  content: "\f04a";
}
.icon-keyboard:before {
  content: "\f04b";
}
.icon-thumbs-up:before {
  content: "\e045";
}
.icon-mailbox:before {
  content: "\f04c";
}
.icon-mail-box:before {
  content: "\f04d";
}
.icon-search-line:before {
  content: "\f04e";
}
.icon-user-profile:before {
  content: "\f04f";
}
.icon-reset-fit:before {
  content: "\f05a";
}
.icon-zoom-out:before {
  content: "\f05b";
}
.icon-zoom-in:before {
  content: "\f05c";
}
.icon-liquidity-management:before {
  content: "\f05d";
}
.icon-detail-view:before {
  content: "\f05e";
}
.icon-tabular-view:before {
  content: "\f05f";
}
.icon-summary-view:before {
  content: "\f025";
}
.icon-assets-info:before {
  content: "\f026";
}
.icon-basic-primary-info:before {
  content: "\f027";
}
.icon-card-addon:before {
  content: "\f028";
}
.icon-card-balance-transfer:before {
  content: "\f029";
}
.icon-expense-info:before {
  content: "\f06a";
}
.icon-funding-table:before {
  content: "\f06b";
}
.icon-identity-info:before {
  content: "\f06c";
}
.icon-income-info:before {
  content: "\f06d";
}
.icon-liabilities-info:before {
  content: "\f06e";
}
.icon-occupation-info:before {
  content: "\f06f";
}
.icon-primary-registration:before {
  content: "\f021";
}
.icon-property-info:before {
  content: "\f031";
}
.icon-vehicle-info:before {
  content: "\f032";
}
.icon-virtual-account:before {
  content: "\f033";
}
.icon-requirements:before {
  content: "\f034";
}
.icon-account-funding:before {
  content: "\f035";
}
.icon-account-summary:before {
  content: "\f036";
}
.icon-application-status-history:before {
  content: "\f037";
}
.icon-application-repayment-input:before {
  content: "\f038";
}
.icon-application-fees-input:before {
  content: "\f039";
}
.icon-application-fees-view:before {
  content: "\f07a";
}
.icon-application-loan-statement-input:before {
  content: "\f07b";
}
.icon-application-offer:before {
  content: "\f07c";
}
.icon-card-additional-preferences:before {
  content: "\f07d";
}
.icon-card-delivery-preferences:before {
  content: "\f07e";
}
.icon-auto-pay-copy:before {
  content: "\f07f";
}
.icon-card-holder-preferences:before {
  content: "\f030";
}
.icon-card-membership:before {
  content: "\f040";
}
.icon-card-preferences:before {
  content: "\f041";
}
.icon-loan-account-preference:before {
  content: "\f042";
}
.icon-loan-account-summary:before {
  content: "\f043";
}
.icon-loan-account-configuration:before {
  content: "\f044";
}
.icon-anti-money-laundering:before {
  content: "\f045";
}
@import "_base/_font-face/_icons-override";
@import "_base/_font-face/_rtl-icons";
