@import "utils";

.service-advisors {
  &-sub-container {
    height:100%;
    @include mq(small){
      height:auto;
    }
    &__noData{
      margin:0 auto;
      text-align: center;
    }
  }
  &-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-icon {
    @include single-padding(right, 0rem);
  }
  &-type {
    color: var(--base-text-secondary);
  }
}
