.myLimits{
    @include mq(large){
		width: 80vw;
		max-width: 80rem;
    }
    @include mq(medium){
		width: 80vw;
		max-width: 80rem;
    }
}
.iconStyling {
 font-size: 1.1rem;
 position: relative;
 top: 0.1rem;
 color: var(--link-base);
}
.oj-label-inline {
 margin-top: 0 !important;
}
