<div id="container">
    <div class="oj-sm-11 oj-flex-item">
                <div class="oj-flex oj-flex-items-pad category_row_padding">
                    <!-- ko foreach: menuList() -->
                        <div class="oj-sm-12 oj-md-6 oj-lg-6 oj-flex-item category_col_padding">
                            <div class="oj-panel oj-panel-alt2 " data-bind="component: {name: 'action-card', params:{ data :{
                            title : name,
                            card_text : card_text
                          } ,clickHandler:actionCardClick}},attr:{'id':'menu'+$index()}">
                        </div>
                    <!-- /ko -->
                </div>
    </div>
</div>
</div>