.alerts-details {
    .oj-listview {
        li {
            .oj-flex {
                .alert-high {
                    color: var(--base-color-danger);
                }

                .alert-low {
                    color: var(--base-color-warning);
                }
            }
        }
    }

    .oj-panel {
        &.widget {
            height: inherit;

            .alert-icons {
                img {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            .delete {
                img {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
    }
}
